html{
    height:100%;
}
body{
    background: url(https://images.unsplash.com/photo-1417733403748-83bbc7c05140?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4c01399b01c8b4b1c5a8cfcdee7cfea2);
    background-size:cover;
    background-position:center;
}
.nav-link{
    font-family: 'Catamaran', sans-serif;
}
.center{
    text-align: center;
    padding-top: 15%;
}
h1,p{
    color:white;
}
p{
    font-size: 23px;
    font-weight:bold;
}
img{
    width: 70px;
}
.righty{
    float:right;
}
@media(max-width:768px){
    h1{
        background-color: #449d44;
    }
    h2{
        background-color: #449d44;
    }
}
@media(min-width:768px){
    h1{
        background-color: skyblue;
        opacity: 0.8;
    }
}
